# 忽略 Fortran 编译中间文件
*.o
*.mod
*.a
*.exe

# 忽略 Python 编译中间文件
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo

# 忽略 Linux 编译中间文件
*.out
*.log
*.dSYM/
*.swp
*.tmp
*.aux
*.synctex
*.synctex(busy)
*.synctex.gz

# 忽略编译工具生成的文件
*.obj
*.dll
*.lib
*.bin

# 忽略临时文件
*.bak
*.tmp
*.swp

# 忽略虚拟环境和依赖项
venv/
.env/
node_modules/

# 忽略其他操作系统生成的文件
.DS_Store
Thumbs.db

#忽略打包的作业文档
*.zip

#忽略草稿文件夹和发布预处理文件夹
release/
lectures/
drafts/
**/.draft/
.vscode/
utils/prompts.txt
