Assignment_1/Problem_2/doxygen_output/** linguist-vendored
Assignment_1/Problem_2/ford_output/** linguist-vendored
Assignment_2/Problem_1/doxygen_output/** linguist-vendored
Assignment_2/Problem_2/doxygen_output/** linguist-vendored
Assignment_3/Problem_2/doxygen_output/** linguist-vendored
Assignment_3/Problem_3/documenter_output/** linguist-vendored
